html{
	background-image: url("colored-dust.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover; 
}

button {
	width: 90px;
	height: 85px;
	background-color: #000000;
	background: linear-gradient(#673ab7, #F44336); 
	color: #FFFFFF;
	font-weight: bold; 
	font-size: 1rem; 
	border: none; 
	border-radius: 10px; 
	margin: 10px 10px 10px 10px; 
}

div.sound{
	padding-top: .6rem; 
}

.group-keys{
	position: fixed;
	bottom: 45%; 
	left: 10%;
}

